@import url('root.css');

body {
    background-color: var(--whiteBkg);
    padding: 0rem 4.75rem;
    font-family: poppins;
}

/*** DESKTOP NAV ***/

#desktop-nav {
    width: 100%;
    height: 9.375rem;
    display: flex;
    justify-content: space-between;
}

#left-nav {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 3.875rem;
}

.picto-ticket {
    height: 3.25rem;
    width: 3.25rem;
    background-color: #63FF9C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#ticket-open {
    cursor: pointer;
}

#middle-nav {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-nav {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1.75rem;
}

#redirection-div {
    display: flex;
    gap: 1.75rem;
}

.redirectBtn {
    width: 46px;
    height: 46px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--midnightBlue);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#redirectTrajet-hover {
    display: none;
}

#redirectExperience-hover {
    display: none;
}

#redirectGroovie-hover {
    display: none;
}

#redirect-trajet:hover,
#redirect-trajet:active {
    background-color: var(--NAV_BtnTrajet);

    #redirectTrajet-normal {
        display: none;
    }

    #redirectTrajet-hover {
        display: block;
    }
}

#redirect-experience:hover,
#redirect-experience:active {
    background-color: var(--NAV_BtnExperience);

    #redirectExperience-normal {
        display: none;
    }

    #redirectExperience-hover {
        display: block;
    }
}

#redirect-groovie:hover,
#redirect-groovie:active {
    background-color: var(--NAV_BtnGroovie);

    #redirectGroovie-normal {
        display: none;
    }

    #redirectGroovie-hover {
        display: block;
    }
}


.logs-btn {
    width: 10.375rem;
    height: 2.625rem;
    color: white;
    border-radius: 100px;
    font-size: 0.875rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#logIn-btn {
    background-color: var(--midnightBlue);
}

#signIn-btn {
    background-color: var(--violetRehausse);
}

#logOut-btn {
    background-color: var(--midnightBlue);
}

#profil-div {
    display: flex;
    gap: 1.75rem;
}

#profil-btn {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--midnightBlue);
}

#notif-btn {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50%;
    background-color: var(--NOTIF_BkgPicto);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}


/***   FORM INSCRIPTION   ***/

#signinDropdown {
    position: absolute;
    height: 55.75rem;
    width: 35rem;
    background-color: var(--whiteBkg);
    flex-direction: column;
    align-items: center;
    z-index: 20;
    right: -35rem;
    top: 9.375rem;
    padding: 1.313rem;
    border-radius: 39px;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 25%);
}

.signin-logo {
    margin: 0.625rem 1.313rem 2.875rem 1.313rem;
    width: 29.375rem;
    display: flex;
    flex-direction: column;
}

.signin-logoSvg {
    align-self: center;
}

#signin-close {
    height: 3.25rem;
    width: 3.25rem;
    border: 0.125rem solid var(--midnightBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    align-self: end;
}

.nameDiv {
    display: flex;
    gap: 1rem;
}

.nameDiv .signin-div input {
    width: 13.875rem;
}

.signin-div {
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
}

.signin-div input {
    background-color: rgba(1, 15, 92, 10%);
    width: 28.75rem;
    height: 3.625rem;
    border-radius: 1.938rem;
    padding-left: 1.625rem;
    color: var(--midnightBlue);
}

.signin-div input::placeholder {
    color: var(--midnightBlue);
}

.signinBtn {
    width: 28.75rem;
    height: 3.625rem;
    background-color: var(--violetRehausse);
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.813rem;
    border-radius: 39px;
    margin-top: 1.5rem;
}

.signinBtn span {
    width: 2.125rem;
    height: 2.125rem;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5rem;
}

#signin-cgu {
    font-size: 1rem;
    color: var(--midnightBlue);
    text-align: center;
    margin-top: 1.875rem;
}

#signin-cgu a {
    text-decoration: underline;
}

@keyframes slideInFromRight {
    from {
        right: -35rem;
    }

    to {
        right: 4.75rem;
    }
}

.transition-right {
    animation: slideInFromRight 0.8s forwards;
}

@keyframes slideInBackRight {
    from {
        right: 4.75rem;
    }

    to {
        right: -35rem;
    }
}

.transition-backRight {
    animation: slideInBackRight 0.8s forwards;
}







/***   FORM BILLET   ***/

#ticketDropdown {
    position: absolute;
    height: 32rem;
    width: 27rem;
    background-color: var(--yellowPrimary);
    flex-direction: column;
    align-items: center;
    z-index: 10;
    left: -35rem;
    top: 9.375rem;
    padding: 1.313rem;
    border-radius: 39px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#ticket-header {
    margin: 0.625rem 0px 2.875rem 0px;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

#ticket-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#ticket-title h3 {
    font-size: 22px;
    color: var(--midnightBlue);
    font-weight: 500;
}

#ticket-close {
    height: 3.25rem;
    width: 3.25rem;
    border: 0.125rem solid var(--midnightBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
}

#ticket-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.ticket-div {
    width: 100%;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
}

#ticket-form .dateScan-div {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#dateScan-date {
    width: 55%;
}

#dateScan-scan {
    width: 45%;
    display: block;
}

#ticket-scanDiv {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#ticket-scanDiv p {
    color: var(--midnightBlue);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

#ticket-scanDiv div {
    width: 100%;
    height: 9.5rem;
    border-radius: 13px;
    border: 2px solid var(--midnightBlue);
}

#ticket-scan {
    background-color: var(--whiteBkg);
    height: 3.625rem;
    border-radius: 1.938rem;
    color: var(--midnightBlue);
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 15%);
    cursor: pointer;
}

#ticket-scan p {
    padding-left: 3.938rem;
}

.ticket-div input {
    background-color: var(--whiteBkg);
    width: 100%;
    height: 3.625rem;
    border-radius: 1.938rem;
    padding-left: 3.938rem;
    color: var(--midnightBlue);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 15%);
}

.ticket-div input::placeholder {
    color: var(--midnightBlue);
}

.ticket-div svg {
    position: absolute;
    margin-left: 1.750rem;
}

.ticketBtn {
    width: 100%;
    height: 3.625rem;
    background-color: var(--BILLET_BkgBtnValid-TextInput);
    color: var(--BILLET_TextBtnValider-BkgPicto);
    font-family: poppins;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 31px;
    border-radius: 39px;
}

.ticketBtn span {
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.625rem;
}

@keyframes slideInFromLeftTicket {
    from {
        left: -35rem;
    }

    to {
        left: 4.718rem;
    }
}

.transition-left-ticket {
    animation: slideInFromLeftTicket 0.8s forwards;
}

@keyframes slideInBackLeftTicket {
    from {
        left: 4.718rem;
    }

    to {
        left: -35rem;
    }
}

.transition-backLeft-ticket {
    animation: slideInBackLeftTicket 0.8s forwards;
}






/***   FORM CONNEXION   ***/

#loginDropdown {
    position: absolute;
    height: 43.75rem;
    width: 34.375rem;
    background-color: var(--whiteBkg);
    flex-direction: column;
    align-items: center;
    z-index: 10;
    right: -35rem;
    top: 9.375rem;
    padding: 1.313rem;
    border-radius: 39px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

.login-logo {
    margin: 0.625rem 1.938rem 2.875rem 1.938rem;
    width: 29.375rem;
    display: flex;
    flex-direction: column;
}

.login-logoSvg {
    align-self: center;
}

#login-close {
    height: 3.25rem;
    width: 3.25rem;
    border: 0.125rem solid var(--midnightBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
    align-self: end;
}

.login-div {
    margin-bottom: 14px;
}

.login-div input {
    background-color: rgba(1, 15, 92, 10%);
    width: 28.75rem;
    height: 3.625rem;
    border-radius: 1.938rem;
    padding-left: 1.625rem;
    color: var(--midnightBlue);
}

.login-div input::placeholder {
    color: var(--midnightBlue);
}

.signin-forgot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.125rem;
}

.signin-forgot a {
    color: var(--midnightBlue);
}

.loginBtn {
    width: 28.75rem;
    height: 3.625rem;
    background-color: var(--midnightBlue);
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.813rem;
    border-radius: 39px;
    margin-top: 2.125rem;
}


.loginBtn span {
    width: 2.125rem;
    height: 2.125rem;
    background-color: var(--magenta);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8.125rem;
}

.login-signin {
    margin-top: 2.375rem;
    font-size: 1rem;
    text-align: center;
    color: var(--midnightBlue);
}

@keyframes slideInFromRightLogin {
    from {
        right: -35rem;
    }

    to {
        right: 4.75rem;
    }
}

.transition-right-login {
    animation: slideInFromRightLogin 0.8s forwards;
}

@keyframes slideInBackRightLogin {
    from {
        right: 4.75rem;
    }

    to {
        right: -35rem;
    }
}

.transition-backRight-login {
    animation: slideInBackRightLogin 0.8s forwards;
}








main {
    width: 100%;
    max-height: 55.75rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

#home-left {
    grid-column: 1/12;
    height: 100%;
    width: 100%;
    background-color: var(--midnightBlue);
    border-radius: 39px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
    padding: 21px;
}

#home-left .concept-title {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 21px;
}

.concept-title h1 {
    font-size: 5rem;
    color: white;
    font-weight: 500;
}

.concept-title h2 {
    font-size: 1.8rem;
    color: var(--magenta);
    font-weight: 500;
}

#home-right {
    grid-column: 12/22;
    position: relative;
}

#home-actu {
    width: 100%;
    height: 50rem;
    background-color: var(--ACTU_Section);
    border-radius: 39px;
    padding: 0rem 1.75rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#home-actu .actu-title {
    width: 100%;
    height: 7.875rem;
    display: flex;
    align-items: center;
}

#home-actu h2 {
    font-size: 1.625rem;
    font-weight: 500;
}

#actu-picto {
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--ACTU_Picto);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
}

#home-fest {
    width: 100%;
    height: 8.625rem;
    background-color: #FFC6C6;
    border-radius: 39px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.75rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

.fest-left {
    display: flex;
    align-items: center;
}

.festival-picto {
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--FEST_Picto);
    margin-right: 1.625rem;
}

#home-fest h2 {
    font-size: 2.625rem;
    font-weight: 500;
}

.arrow {
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #000;
}

.arrow button {
    width: 2.625rem;
    height: 2.625rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***      PAGE FESTIVAL      ***/

#festival-main {
    width: 100%;
    max-height: 55.75rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    gap: 1.25rem;
}

#festival-left {
    grid-column: 1/15;
    grid-row: 1/2;
    background-color: var(--TFEST_Section);
    border-radius: 39px;
    padding: 0rem 2.5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#fest-title {
    width: 100%;
    height: 7.250rem;
    display: flex;
    justify-content: space-between;
}

#fest-title h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--midnightBlue);
}

#fest-titleLeft {
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: center;
}

#fest-titleLeft .festival-picto {
    margin-right: 1.375rem;
}

#festival-right {
    grid-column: 15/22;
    grid-row: 1/2;
    background-color: var(--yellowPrimary);
    border-radius: 39px;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#fest-searchDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.fest-searchBar {
    background-color: var(--whiteBkg);
    width: 21.75rem;
    height: 2.625rem;
    padding: 0px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}

#fest-searchInput {
    height: 100%;
    background: none;
    padding-left: 20px;
    border-radius: 50px;
    width: 18.75rem;
}

#fest-searchInput::placeholder {
    color: var(--contraste_labeur);
    font-weight: 500;
}

.fest-cate {
    width: 60.25rem;
    height: 14.500rem;
    margin-bottom: 1.65rem;
}

.fest-cate hr {
    border: 1px solid var(--contraste_labeur);
}

.fest-cateTitle {
    display: flex;
    justify-content: space-between;
    height: 1.5rem;
    margin-bottom: 0.813rem;
}

.fest-cateTitle p {
    font-size: 20px;
    color: #2F2F2F;
    font-weight: 500;
}

.fest-cateSlider {
    width: 58.250rem;
    height: 12.75rem;
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.fest-card {
    width: 9.5rem;
    height: 9.875rem;
    border-radius: 20px;
    background-color: #fff;
}

.fest-card button {
    border: none;
}

.fest-cardTitle {
    height: 4.25rem;
    padding: 12px 14px 0px 14px;
}

.fest-cardName {
    font-size: 16px;
    text-align: start;
}

.fest-cardDate {
    font-size: 12px;
    color: #747474;
}

.fest-cardImage {
    width: 100%;
    height: 5.625rem;
    background-color: #737373;
    border-radius: 0px 0px 20px 20px;
}




/***      PAGE DETAIL FESTIVAL      ***/

#detailFest-main {
    width: 100%;
    max-height: 55.75rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    gap: 1.25rem;
}

#detailFest-left {
    grid-column: 1/14;
    grid-row: 1/2;
    background-color: var(--whiteBkg);
    border-radius: 39px;
    padding: 0rem 2.5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#detailFest-left hr {
    border: 1px solid var(--contraste_labeur);
}

#detailFest-title {
    width: 100%;
    height: 7.250rem;
    display: flex;
    align-items: center;
}

#detailFest-title h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--midnightBlue);
}

#detailFest-title .festival-picto {
    margin-right: 1.375rem;
}

#detailFest-infos {
    width: 100%;
    height: 42.875rem;
    display: flex;
    margin-top: 3rem;
}

#detailFest-bloc1 {
    width: 33.313rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#detailFest-nameDate {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#detailFest-nameDate h1 {
    font-size: 28px;
    font-weight: 500;
    color: var(--midnightBlue);
}

#detailFest-nameDate p {
    font-size: 20px;
    color: var(--contraste_labeur);
}

#detailFest-image {
    width: 90%;
    height: 18rem;
    background-color: #737373;
    border-radius: 20px;
    margin-top: 1.5rem;
}

#detailFest-genreMusic {
    width: 100%;
    height: 3.5rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#detailFest-genreMusic p {
    font-size: 20px;
    color: var(--contraste_labeur);
}

#detailFest-artistes {
    width: 100%;
    height: 3.5rem;
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#detailFest-artistes p {
    font-size: 20px;
    color: var(--contraste_labeur);
}



#detailFest-bloc2 {
    width: 22.144rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#detailFest-progTitle {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
}

#detailFest-progTitle p {
    font-size: 24px;
    font-weight: 500;
    color: var(--contraste_labeur);
}

#detailFest-progText {
    margin-top: 1.5rem;
}

#detailFest-progText p {
    font-size: 20px;
    color: var(--contraste_labeur);
}

#detailFest-right {
    grid-column: 14/22;
    grid-row: 1/2;
    background-color: var(--midnightBlue);
    border-radius: 39px;
    padding: 0rem 2.5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#validTicket-title {
    width: 100%;
    height: 7.250rem;
    display: flex;
    align-items: center;
}

#validTicket-title h2 {
    font-size: 26px;
    font-weight: 600;
    color: var(--whiteBkg);
}


#validTicket-title .picto-ticket {
    margin-right: 1.375rem;
}

#detailFest-right hr {
    border: 1px solid var(--whiteBkg);
}

/* 28.75rem */

#validTicket-formDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

#validTicket-formDiv p {
    color: var(--VLD-BILLET_Rose);
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#validTicket-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ticket-div {
    margin-bottom: 14px;
}

.dateScan-div {
    display: flex;
    gap: 4.5rem;
}

.dateScan-div .validBillet-div input {
    width: 13.75rem;
}

.validBillet-div input {
    background-color: var(--whiteBkg);
    width: 31.75rem;
    height: 3.625rem;
    border-radius: 1.938rem;
    padding-left: 1.625rem;
    color: var(--midnightBlue);
}

.validBillet-div input::placeholder {
    color: var(--midnightBlue);
}

#validBillet-scanBtn {
    height: 3.625rem;
    width: 13.75rem;
    background-color: var(--whiteBkg);
    border-radius: 1.938rem;
    padding-left: 1.625rem;
    color: var(--midnightBlue);
    display: flex;
    justify-content: start;
    align-items: center;
}

.validBilletBtn {
    width: 31.75rem;
    height: 3.625rem;
    background-color: var(--violetRehausse);
    color: #fff;
    font-family: poppins;
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.813rem;
    border-radius: 39px;
    margin-top: 0.5rem;
}

.validBilletBtn span {
    width: 2.125rem;
    height: 2.125rem;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.5rem;
}

#validTicket-scanDiv {
    width: 100%;
    height: 13.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}

#validTicket-scanDiv p {
    color: var(--VLD-BILLET_Rose);
    font-size: 20px;
    font-weight: 500;
}

#validTicket-scanDiv div {
    width: 95%;
    height: 7.5rem;
    border-radius: 13px;
    border: 2px solid var(--whiteBkg);
}

#buyBilletBtn {
    width: 31.75rem;
    height: 3.625rem;
    background-color: var(--clc_BtnCTA);
    color: var(--midnightBlue);
    font-family: poppins;
    font-weight: 500;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 0.813rem;
    border-radius: 39px;
    margin-top: 0.5rem;
}

#buyBilletBtn svg {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10rem;
}



/***      PAGE MES FESTIVALS      ***/

#mesFestivals-main {
    width: 100%;
    max-height: 55.75rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    gap: 1.25rem;
}

#mesFestivals-left {
    grid-column: 1/16;
    grid-row: 1/2;
    background-color: var(--MFEST_Bkg);
    border-radius: 39px;
    padding: 0rem 1.813rem 0rem 2.5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
}

#mesFestivals-header {
    width: 100%;
    height: 10.875rem;
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
}

#mesFestivals-title {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}

#mesFestivals-title span {
    margin-right: 1.375rem;
    height: 2.875rem;
    width: 2.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--MFEST_BtnAjout);

}

#mesFestivals-title h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--contraste_labeur);
}

#mesFestivals-filter {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.festFilter {
    padding: 0rem 1rem;
    height: 1.875rem;
    border-radius: 6.6px;
    color: var(--contraste_labeur);
    border: 1px solid var(--contraste_labeur);
    font-size: 16.5px;
}

.festFilter:hover {
    color: var(--whiteBkg);
    border: 1px solid var(--contraste_labeur);
    background-color: var(--contraste_labeur);
}

#mesFestivals-festContainer {
    width: 100%;
    height: 44.8rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-color: var(--MFEST_Bkg) var(--MFEST_Bkg);
    scrollbar-width: thin;
    padding-bottom: 2.5rem;
}

#mesFestivals-festContainer hr {
    border: 1px solid var(--contraste_labeur);
}

#mesFestivals-hr {
    border: 5px solid var(--contraste_labeur) !important;
}

.mesFestivals-fest {
    width: 100%;
    height: 9.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.mesFestivals-fest:hover {
    background-color: #E8BAB9;
}

.mesFestivals-fest-mainInfoContainer {
    width: 100%;
    height: 9.5rem;
    display: flex;
    gap: 1.5rem;
}

.mesFestivals-fest-mainInfo {
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
}

.mesFestivals-fest-mainInfo div {
    height: 4.313rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mesFestivals-festName {
    width: 17.500rem;
}

.mesFestivals-fest-mainInfo h3 {
    font-size: 30px;
    font-weight: 600;
    color: var(--contraste_labeur);
}

.mesFestivals-fest-mainInfo p {
    font-size: 16px;
    font-weight: 600;
    color: var(--contraste_labeur);
}

.mesFestivals-fest-mainInfo h4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--contraste_labeur);
}

.mesFestivals-festGenre {
    width: 12.500rem;
}

.mesFestivals-festDate {
    width: 18.500rem;
}

.mesFestivals-arrow {
    width: 16.5rem;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center !important;
}

.mesFestivals-arrow span {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--contraste_labeur);
}

@media screen and (min-width: 1920px) {
    .mesFestivals-arrow {
        width: 22rem;
    }
}

#mesFestivals-right {
    grid-column: 16/22;
    grid-row: 1/2;
    border-radius: 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mesFestivals-aside {
    width: 100%;
    height: 27.375rem;
    border-radius: 39px;
    background-color: var(--whiteBkg);
    padding: 2.5rem;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 25%);
    display: flex;
    flex-direction: column;
}

.mesFestivals-asideTitle {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
}

.mesFestivals-asideTitle h3 {
    font-size: 23px;
    font-weight: 500;
    color: #000;
}

.mesFestivals-asideBtn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    margin-top: 1.5rem;
}

.mesFestivals-asideBtn button {
    height: 3.438rem;
    padding: 0rem 1.375rem;
    font-size: 19px;
    font-weight: 500;
    border-radius: 50px;
    color: var(--contraste_labeur);
    border: 1px solid var(--contraste_labeur);
    display: flex;
    align-items: center;
    gap: 16px;
}





/***      PAGE PROFIL REDIRECT      ***/

#profilRedirect-main {
    width: 100%;
    max-height: 55.75rem;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    gap: 1.25rem;
}

.profilRedirect-card {
    padding: 2.5rem;
    border-radius: 39px;
    transition: 3s;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 25%); */
}

#profilRedirect-cardLeft {
    grid-column: 1/8;
    grid-row: 1/2;
    background-color: var(--GRV_Profil);
}

#profilRedirect-cardMiddle {
    grid-column: 8/15;
    grid-row: 1/2;
    background-color: var(--PRFL_Bkg);
}

#profilRedirect-cardRight {
    grid-column: 15/22;
    grid-row: 1/2;
    background-color: var(--MFEST_Bkg);
}

.profilRedirect-card form,
.profilRedirect-card button {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profilRedirect-card h2 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

.profilRedirect-card p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--contraste_labeur);
}

.profilRedirect-card span {
    width: 7.375rem;
    height: 7.375rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #000;
}

#hl-arrow,
#hm-arrow,
#hr-arrow {
    display: none;
}

.profilRedirect-bloc1 {
    width: 100%;
    height: 20%;
}

.profilRedirect-bloc2 {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profilRedirect-bloc3 {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.profilRedirect-bloc4 {
    width: 100%;
    height: 40%;
}

/***      PAGE PROFIL      ***/
#profil-main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: 1fr;
    background-color: var(--whiteBkg);
}

.profil-card {
    grid-column: 6 / 17;
    height: 100%;
    background-color: var(--PRFL_Bkg);
    border-radius: 39px;
    padding: 21px;
    position: relative;
}

.profil-card hr {
    border: 1px solid #1E1E1E;
    width: 70%;
    margin: 10px auto;
}

.profil-title {
    width: 100%;
    height: 2rem;
    font-size: 1.625rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.profil-title h2 {
    font-size: 1.625rem;
    font-weight: 500;
    color: var(--midnightBlue);

}

.profil-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.info-item {
    display: flex;
    gap: 0.5rem;
}

.info-item label {
    font-weight: bold;
    color: var(--contraste_labeur);
}

.info-item span {
    color: var(--midnightBlue);
}

.edit-btn {
    border: 1px solid var(--contraste_labeur);
    background-color: var(--whiteBkg);
    color: var(--midnightBlue);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: var(--midnightBlue);
    color: var(--whiteBkg);
}

.profil-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #9747FF;
}

.avatar-img.default-avatar {
    display: none;
}

#user-fullname {
    font-weight: bold;
}

.avatar-svg {
    position: absolute;
    background-color: var(--whiteBkg);
    border-radius: 50%;

    right: 20rem;
}

.profil-cloture {
    display: flex;
    justify-content: center;
}

.details-link {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.cloture-btn {
    width: 400px;
    padding: 10px 20px;
    background-color: var(--violetRehausse);
    color: var(--whiteBkg);
    border: none;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
}

.cloture-btn:hover {
    background-color: #8639E6;
}

.profil-svg {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #1E1E1E;
}







/***      PAGE TRAJET      ***/

#trajet-left {
    grid-row: 1/2;
    grid-column: 1/15;
    position: relative;
}

#trajet-right {
    grid-row: 1/2;
    grid-column: 16/22;
    background-color: var(--yellowPrimary);
}

.trajet-card {
    width: 100%;
    padding: 0rem 2.5rem;
    position: absolute;
    border-radius: 39px;
    color: white;
    transition: height 0.4s ease, z-index 0.4s ease;
    overflow: hidden;
}

.trajet-cardHeader {
    height: 7.500rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.trajet-cardHeader h2 {
    font-size: 26px;
    font-weight: 500;
    color: var(--contraste_labeur);
}

.trajet-headerLeft {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.875rem;
    color: #000;
}

.trajet-cardHeader span {
    height: 2.875rem;
    width: 2.875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trajet-cardPref {
    background-color: var(--PRF_Section);
    height: 100%;
    width: 100%;
    z-index: 1;
}

#trajet-logoPref {
    background-color: #E29998;
}

#trajet-cardOffre {
    background-color: var(--FLTR-TRJ_BkgMenuDropdown);
    height: 271px;
    bottom: 0;
    z-index: 2;
    overflow: hidden;
    overflow-y: auto;
}

#trajet-logoOffre {
    background-color: #4ABF75;
}

#trajet-cardMesTrajets {
    background-color: var(--MTRJ_Section);
    height: 164px;
    bottom: 0;
    z-index: 3;
    overflow: hidden;
    overflow-y: auto;
}

#trajet-logoMesTrajets {
    background-color: #8D6CD9;
}

#trajet-prefContent {
    width: 100%;
    height: 31.25rem;
}

#trajet-prefContent hr {
    border: 1px solid var(--contraste_labeur);
}

.trajet-cardContent hr {
    border: 1px solid var(--contraste_labeur);
    width: 100%;
}

.prefContent-row {
    width: 100%;
    height: 7.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prefContent-row h3 {
    color: #000;
    font-weight: 500;
    font-size: 26px;
}

.prefContent-row div {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prefContent-row select {
    height: 2rem;
    padding: 0rem 1rem;
    border-radius: 50px;
    background-color: var(--whiteBkg);
    color: var(--contraste_labeur);
}

.prefContent-row option {
    height: 2rem;
    padding: 0rem 1rem;
    color: var(--midnightBlue);
}

.prefContent-row span {
    width: 3.375rem;
    height: 3.375rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--FLTR-PREF-TRJ_BkgBtnSelect);
}


.trajet-cardContent {
    display: none;
}

#voitureSVG-ON,
#veloSVG-ON,
#vanSVG-ON,
#busSVG-ON,
#trainSVG-ON {
    display: none;
}

#voiture-span:hover,
#voiture-span:active {
    background-color: var(--whiteBkg);
    border: 1px solid #000;

    #voitureSVG-OFF {
        display: none;
    }

    #voitureSVG-ON {
        display: block;
    }
}

#velo-span:hover,
#velo-span:active {
    background-color: var(--whiteBkg);
    border: 1px solid #000;

    #veloSVG-OFF {
        display: none;
    }

    #veloSVG-ON {
        display: block;
    }
}

#van-span:hover,
#van-span:active {
    background-color: var(--whiteBkg);
    border: 1px solid #000;

    #vanSVG-OFF {
        display: none;
    }

    #vanSVG-ON {
        display: block;
    }
}

#bus-span:hover,
#bus-span:active {
    background-color: var(--whiteBkg);
    border: 1px solid #000;

    #busSVG-OFF {
        display: none;
    }

    #busSVG-ON {
        display: block;
    }
}

#train-span:hover,
#train-span:active {
    background-color: var(--whiteBkg);
    border: 1px solid #000;

    #trainSVG-OFF {
        display: none;
    }

    #trainSVG-ON {
        display: block;
    }
}

.trajet-cardContent {
    width: 100%;
    height: 31.25rem;
}

#trajetOffre-row1 {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 14px;
}

#trajetOffre-row1 button {
    height: 28px;
    border-radius: 6px;
    padding: 0px 12px;
    font-size: 15;
    font-weight: 400;
}

#trajetOffre-row2 {
    width: 100%;
    height: 23.000rem;
    background-color: #8df8b4;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-color: #8df8b4 #8df8b4;
    scrollbar-width: thin;
    padding: 1.5rem;
    gap: 32px;
}

.trajetOffre-card {
    height: 12rem;
    width: 17.75rem;
    border-radius: 25px;
    padding: 24px;
    background-color: #E0FFEB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trajetOffre-card p {
    color: var(--contraste_labeur);
}

.trajetOffre-top {
    display: flex;
    justify-content: space-between;
}

.trajetOffre-top div {
    display: flex;
}

.trajetOffre-top span {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trajetOffre-topSpan1 {
    z-index: 3;
    font-size: 24px;
    background-color: #33CD6B;
}

.trajetOffre-topSpan2 {
    z-index: 2;
    position: absolute;
    margin-left: 28px;
}

.trajetOffre-topSpan2 img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.trajetOffre-bot {
    display: flex;
    justify-content: space-between;
}

.trajetOffre-heure {
    font-size: 23px;
    font-weight: 600;
    text-decoration: underline;
}

.trajetOffre-nbGroovie {
    font-size: 18px;
    font-weight: 400;
}

.trajetOffre-botRight {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#trajetOffre-row3 {
    width: 100%;
    height: 5rem;
}

.filtreOffre-selected {
    background-color: var(--FLTR-TRJ_FiltreSelect);
}

.filtreOffre-notSelected {
    color: var(--FLTR-TRJ_FiltreNonSelect);
    border: 1px solid var(--FLTR-TRJ_FiltreNonSelect);
}

#filtreDropdown {
    position: absolute;
    width: 40.000rem;
    height: 14.5rem;
    background-color: var(--FLTR-TRJ_BkgMenuDropdown);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    z-index: 20;
    left: 39px;
    top: 15.1rem;
    padding: 1.313rem;
    box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 25%);
}

#filtreDropdown-box {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

.filtreDropdown-container {
    width: 46%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filtreDropdown-toggleContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filtreDropdown-toggleContainer p {
    font-size: 17px;
    color: var(--contraste_labeur);
}

#filtreDropdown-btnContainer {
    width: 100%;
    display: flex;
    gap: 1rem;
}

#filtreDropdown-btnContainer button {
    width: 14rem;
    height: 2.25rem;
    border-radius: 50px;
    font-size: 16px;
}

#filtreDropdown-validBtn {
    background-color: var(--FLTR-TRJ_FiltreSelect);
    color: var(--whiteBkg);
}

#filtreDropdown-cancelBtn {
    border: 1px solid var(--FLTR-TRJ_FiltreNonSelect);
    color: var(--FLTR-TRJ_FiltreNonSelect);
}

.filtreDropdown-toggleContainer div {
    width: 56px;
    display: flex;
    cursor: pointer;
}

.filtreDropdown-toggle {
    width: 56px;
    height: 27px;
    border-radius: 50px;
    background-color: var(--FLTR-TRJ_ToggleOFF);
    position: relative;
    display: flex;
    align-items: center;
}

.filtreDropdown-toggleBtn {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--FLTR-TRJ_BtnToggleOFF);
    position: absolute;
    left: 6px;
    transition: 0.5s;
}